

/* ======================================================
=========================================================
                      Typography
=========================================================
=========================================================*/

* {
  box-sizing: border-box;
}

html {
  font-family: $font_content;
  font-size: 16px;
}

.header {
  font-family: $font_header;
  letter-spacing: 4px;
}

.search {
  font-weight: bold;
}

.footer {
  span {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    font-weight: bold;
  }
  a {
    color: blue;
  }
}