

/* ======================================================
=========================================================
                      MAIN STYLES
=========================================================
=========================================================*/

body {
  @include flex_styles($flex_direction: column, $align_items: center);
  min-height: 100vh;
  background: url("../resources/just-waves.png") repeat;
}

main {
  width: 100%;
}

/* ======================================================
                      HEADER
=========================================================*/

.header {
  width: 100%;
  background-color: rgba(179, 214, 255, 0.8);
  padding: $gutter_m 0;
  h1 {
    margin: 0;
    padding: $gutter_m 0;
    text-align: center;
  }
}

/* ======================================================
                      SEARCH
=========================================================*/

.search {
  width: 90%;
  margin: 0 auto; 
  padding: 10px 0; 
  label {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    margin-top: $gutter_s;
    &:focus {
      outline: none;
    }
    @include media_query($width: $break_s) {
      width: 50%
    }
    @include media_query($width: $break_m) {
      width: 40%
    }
    @include media_query($width: $break_l) {
      width: 25%
    }
  }
} 


/* ======================================================
                      GALLERY
=========================================================*/



.gallery {
  @include flex_styles($flex_wrap: wrap, $justify_content: space-around);
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: $gutter_m 0 0;
  a {
    display: inline-block;
    margin: 0 $gutter_s $gutter_m;
    text-align: center;
  }
  img {
    opacity: 0.9;
  }

}

@for $index from 1 through 12 {
 .gallery {
    a:nth-of-type(#{$index}) {
      flex-basis: 22%;
    }
  }
}

/* ======================================================
                    FOOTER
=========================================================*/


.footer {
  margin-top: auto;
  padding: $gutter_m 0;
  text-align: center;
}


/* ======================================================
                         baguetteBox Pluggin 
=========================================================*/

#baguetteBox-overlay .full-image{
  figure {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    @include media_query($width: $break_l) {
      height: 80%;
      width: auto;
    }
  }
  figcaption {
    width: 100%;
    left: 0;
    bottom: -40%; 
    @include media_query($width: $break_s) {
      bottom: -20%;
    }
    @include media_query($width: $break_m) {
      bottom: -10%;
      background: none;
    }
    @include media_query($width: $break_l) {
      bottom: 0;
      background: rgba(0,0,0,.6);
    }    
  }
}

#baguetteBox-overlay {
  #previous-button {
    top: 85%;
    @include media_query($width: $break_m) {
      top: calc(50% - 30px)
    }
  }
  #next-button {
    top: 85%;
    @include media_query($width: $break_m) {
      top: calc(50% - 30px)
    }
  }
}



